// Elevation mixins.
@use '@material/elevation/index' as elevation;

// Paper mixins.
@use '@smui/paper/index' as paper;
@use '@material/theme/index' as theme;

// Typography mixins.
@use '@material/typography/index' as typography;

@use '@smui/snackbar/style' as smui-snackabar;
@use '@material/snackbar/mixins' as snackbar;
@use '@material/theme/color-palette';
@use '@material/theme/theme-color';

.mdc-snackbar.httpclient-error {
	@include snackbar.fill-color(color-palette.$red-500);
	@include snackbar.label-ink-color(theme-color.accessible-ink-color(color-palette.$red-500));
}

.display-s {
	display: contents;
}

.table-data {
	width: 100%;
}

// see routes/+layout.svelte on the import of the fontsource package
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}
