name: build-rocketsvelte
on: [push]
env:
    RUSTUP_TOOLCHAIN: "1.85.0"
    RUSTUP_HOME: "./rust/rustup"
    CARGO_HOME: "./rust/cargo"
jobs:
  build-rocketsvelte:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: Cache Rust
        id: cache-rust
        uses: actions/cache@v4
        with:
           path: rust
           key: ${{ runner.os }}-rustup-${{env.RUSTUP_TOOLCHAIN}}
      - name: Install rust
        if: steps.cache-rust.outputs.cache-hit != 'true'
        run: |
                 mkdir -p $RUSTUP_HOME
                 mkdir -p $CARGO_HOME
                 curl https://sh.rustup.rs -sSf | sh -s -- -y
                 rustup install $RUSTUP_TOOLCHAIN
                 rustup component add clippy
      - name: Configure Rust and display version
        run: |
              echo "PATH=$(dirname $(rustup which cargo)):$PATH" >> $GITHUB_ENV
              echo "PATH=$(dirname $(rustup which cargo)):$PATH"
              rustc --version
              cargo --version
      - name: Build with rust and cargo make
        run: |
           cargo install --force cargo-make
           cd backend
           cargo make build-all
